<section class="section2" fxLayoutAlign="space-around start">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="sec2-container" fxLayout.sm="column" fxLayout.xs="column">
  
    <div fxLayout="column">
      <div  fxLayoutAlign="center center"  [ngStyle.xs]="{'margin-top.em': 2} ">
        <div class="tracado" ></div> <h1> Certificados</h1>
        

      </div>
        

      <mat-tab-group>

        <mat-tab  label="Angular" >
          <mat-card class="example-card">

            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title><i class="fab fa-angular"></i> Udemy</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../../../../assets/imagens/certificados/em-breve.png" alt="Foto de certfificado angular">

            <mat-card-content>
              <p>Angular 9, Flexbox, Material, HammerJS, Services, Pipes, Directives.</p>
            </mat-card-content>

          </mat-card>
        </mat-tab>
        
        <!-- ==================================== -->

        <mat-tab label="Java">
          <mat-card class="example-card" >

            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title><i class="fab fa-java"></i> Udemy</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../../../../assets/imagens/certificados/java-spring.jpg" alt="Foto de certfificado java">

            <mat-card-content>
              <p>JDBC, HIBERNATE, JPA, HIBERNATE, SPRING BOOT </p>
            </mat-card-content>
          
          </mat-card>
        </mat-tab>

        <!-- ==================================== -->

        <mat-tab label="Banco de dados">
          <mat-card class="example-card">

            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title><i class="fas fa-database"></i> Udemy</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../../../../assets/imagens/certificados/em-breve.png" alt="Foto de certfificado de banco de dados">

            <mat-card-content>
              <p>MySQL, SQL Server e Oracle</p>
              <p>T-SQL e PLSQL</p>
            </mat-card-content>

          </mat-card>
        </mat-tab>

      </mat-tab-group>

      <div fxLayoutAlign="center center">
        <a [ngStyle.xs]="{'margin-left.px': 7}" class="btn-morphism" routerLink="/certificados">Veja mais</a>  
      </div>
   
    </div>
        
    <div  fxLayout="column">
      <div  fxLayoutAlign="center center" [ngStyle.xs]="{'margin-top.em': 2} ">
        <div class="tracado"></div> <h1> Projetos</h1>
      </div>

      <mat-tab-group>

        <mat-tab label="React Cad">
          <mat-card class="example-card">

            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>ReactJS</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../../../../assets/imagens/projetos/reaCad.PNG" alt="Foto de um projeto web">

            <mat-card-content>
              <p>Crud simples, filtros de pesquisa, persintências no local Storage, requisição http com axios, Recharts, bootstrap4.</p>
            </mat-card-content>

          </mat-card>

        </mat-tab>
            
            <!-- ==================================== -->

        <mat-tab label="Portifólio">
          <mat-card class="example-card">

            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Angular</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../../../../assets/imagens/projetos/portifolio.JPG" alt="Foto de um projeto web">

            <mat-card-content>
              <p>Angular 9, Material, flex-layout, neumorphism.</p>
            </mat-card-content>
          
          </mat-card>
        </mat-tab>

            <!-- ==================================== -->

        <mat-tab label="Lista de tarefas">
          <mat-card class="example-card">

            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Angular/Java/postgree</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../../../../assets/imagens/certificados/em-breve.png" alt="Foto de um projeto web">

            <mat-card-content>
              <p>descrição do app</p>
            </mat-card-content>
          </mat-card>
        </mat-tab>

      </mat-tab-group>

      <div fxLayoutAlign="center center">
        <a [ngStyle.xs]="{'margin-left.px': 7,'margin-bottom.px': 10 }" class="btn-morphism" routerLink="/projetos">Veja mais</a>
      </div>
       
    </div>
  </div>
</section>