<div class="section2" fxLayoutAlign="center center" 

>

<div fxLayout="row" 
   class="sec2-container"
   fxLayout.sm="column" 
   fxLayout.xs="column" 
   >
   
   <!-- <div  fxLayout="row" fxLayoutAlign="center center">
       <h1>Cursos</h1>a
   </div> -->

  

    <div fxFlex="50" fxLayout="column">
      <div  fxLayoutAlign="center center"  [ngStyle.xs]="{'margin-top.em': 4} ">
        <div class="tracado" ></div> <h1> Certificados</h1>
    </div>

          <mat-tab-group>

            <mat-tab  label="Angular" >

              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title><i class="fab fa-angular"></i> Udemy</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../../../assets/imagens/certificados/cert1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Angular 9, Flexbox, Angular Material, hammerJS...
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  
                
                </mat-card-actions>
              </mat-card>

            </mat-tab>
            
            <!-- ==================================== -->

            <mat-tab label="Java">
              <mat-card class="example-card" >
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title><i class="fab fa-java"></i> Udemy</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../../../assets/imagens/certificados/cert1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>Java8, Spring[boot,Mvc,Thymeleaf],...
                  </p>
                </mat-card-content>
              
              </mat-card>
            </mat-tab>

            <!-- ==================================== -->

            <mat-tab label="Sql">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title><i class="fas fa-database"></i> Udemy</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../../../assets/imagens/certificados/cert1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    MySQL, SQL Server e Oracle
                  </p>
                  <p>T-SQL e PLSQL</p>
                </mat-card-content>
              </mat-card>
            </mat-tab>

          </mat-tab-group>
          <a  [ngStyle.xs]="{'margin-left.px': 7}" class="btn-morphism">Veja mais</a>  
        </div>
        

   <div fxLayout="row-reverse"  fxFlex="50" class="cont">

   </div>


    <!-- ======================== //////////////////////////////////////////////////////////////////-->
<div fxLayout="column" fxFlex="50">
  <div  fxLayoutAlign="center center" [ngStyle.xs]="{'margin-top.em': 4} ">
    <div class="tracado"></div> <h1> Projetos</h1>
 </div>
          <mat-tab-group>

            <mat-tab label="React Cad">

              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>ReactJS</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../../../assets/imagens/projetos/reaCad.PNG" >
                <mat-card-content>
                  <p>
                    Crud simples com filtros, persintências no local Storage, requisição http com axios, Recharts, bootstrap4
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  
                
                </mat-card-actions>
              </mat-card>

            </mat-tab>
            
            <!-- ==================================== -->

            <mat-tab label="Portifólio">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Angular</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../../../assets/imagens/projetos/portifolio.JPG" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>Angular 9, Material, Flexbox, neumorphism
                  </p>
                </mat-card-content>
              
              </mat-card>
            </mat-tab>

            <!-- ==================================== -->

            <mat-tab label="Lista de tarefas">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Angular/Java/postgree</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../../../assets/imagens/certificados/cert1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    descrição do app
                  </p>
                </mat-card-content>
              </mat-card>
            </mat-tab>

          </mat-tab-group>
          <a [ngStyle.xs]="{'margin-left.px': 7}" class="btn-morphism">Veja mais</a>
        </div>

  </div>
  
  
</div>