.section2{
    padding-bottom: 30px;
    background: #ebf0f6;
}

.sec2-container{
    width: 1400px !important;
}

.example-card{
    left: 40px; 
    overflow: hidden;
    max-width: 20rem;
    height: 400px;
    margin: 20px;
    border-radius: 15px;
}

.example-card img{
    height: 15em;
}

mat-card-content p{
    color: #383633;
    font-size: 14pt;
}

.sec2-container h1{
    color: #a58c5e;
}

.tracado{
    height: 30px;
    width: 5px;
    background-color: #a58c5e;
    margin-right: 5px;
}

mat-tab-group{
    overflow: hidden;
    height: 550px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
}

mat-tab-group mat-card i {
    font-size: 25pt;
}

.cont{
    width: 15rem;
    height: 15rem;
}

@media screen and (max-width:600px) {
    
    .example-card{
        left: 0px;
    }

    .section2{
        padding-bottom: 10px;
    }
}