
<mat-toolbar class="bb" fxHide.lt-md="true">
  
  <a class="logo"  routerLink="/home" (click)="topFunction()"> Home</a>
    
    <span class="example-spacer"></span>

    <div class="navbar" fxShow="true" fxHide.lt-md="true">
      <div class="example-button-row">

        <a class="morph-menu-btn" (click)="CurriculumAlert(); topFunction()"><i class="fas fa-file-download"></i> CV</a>

        <a class="morph-menu-btn"  routerLink="/certificados" (click)="topFunction()">Certificados</a>

        <a class="morph-menu-btn"   routerLink="/contato" (click)="topFunction()"> Contato</a>

        <a class="morph-menu-btn"  routerLink="/projetos" (click)="topFunction()">Projetos </a>

      </div>
    </div>
  
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-button  class="btn-hamburguer-morph">
        <span class="material-icons">menu</span>
      </button>
    </div>
    
  </mat-toolbar>
        

           
     
          

      
          
    