
mat-toolbar{
    background-color: #131419;
    /* background-color: #f1f1f1; */
    position: fixed;
    /* position: absolute; */
    height: 90px;
    z-index: 2;
    /* border-bottom: 1px solid #a58c5e; */
    
    
  }

  mat-sidenav-content{
    width: 100%;
    height: 100%;

  }
  
  mat-sidenav-container{
    overflow: hidden;
  }
  
  mat-sidenav{
    overflow: hidden;
    height: 100%;
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
  
  }
  
.logo{
    color: #a58c5e;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 8px;
    /* background: #f1f1f1; */
    
    /* box-shadow:  3px 3px 2px #bdbdbd, 
    -4px -4px 2px #ffffff; */
    
    background: #131419;
    box-shadow:  
    -3px -3px 3px rgba(194, 193, 193, 0.164),
    4px 4px 3px rgb(0, 0, 0);

    text-align: center;
    display: inline-block;
    font-size: 12pt;
    font-weight: 600;
  }
  
  .navbar a{
    margin-right: 20px;
    color: #a58c5e;
    
    text-decoration: none;
    cursor: pointer;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    /* background: #f1f1f1; */
    background: #131419;
    /* box-shadow:  3px 3px 3px #bdbdbd, 
               -3px -3px 3px #ffffff; */

    box-shadow:  
    -3px -3px 3px rgba(194, 193, 193, 0.164),
      4px 4px 3px rgb(0, 0, 0);
              
      padding: 15px 25px 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 12pt;
    font-weight: 600;
  }
  
  .navbar a:first-child{
    background: #131419;
    box-shadow:  
    -3px -3px 2.5px rgba(194, 193, 193, 0.164),
    4px 4px 3px rgb(0, 0, 0);
    /* box-shadow:  3px 3px 2px #bdbdbd, 
               -3px -3px 2px #ffffff; */
    margin-right: 20px;
    padding: 20px 20px;
    border-radius: 50px;
  
  }
  
  .navbar a:hover, .logo:hover{
    color: rgb(194, 194, 194);
    /* border-radius: 50px; */
    /* background: #f1f1f1; */
    /* box-shadow: inset 4px 4px 4px #bdbdbd, 
    inset -4px -4px 5px #ffffff; */
    background: #131419;
    box-shadow:  
    inset -3px -3px 3px rgba(194, 193, 193, 0.164),
    inset 4px 4px 3px rgb(0, 0, 0);

  
  }
  
  .navbar{
    margin-right: 100px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  @media screen and (max-width:960px) {
    mat-toolbar{
      height: 60px;
     
    }
    .btn-hamburguer-morph{
      color: #a58c5e;
      border-radius: 20px;
      margin-right: 20px;
      background: #131419;

      box-shadow:  
      -3px -3px 3px rgba(194, 193, 193, 0.164),
      4px 4px 3px rgb(0, 0, 0);
      }
  
    .logo{
      padding: 3px 15px;
      border-radius: 5px;
      font-size: 11pt;
      font-weight: 600;
    }
  
    
  }
  
  
  @media screen and (max-width:700px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

