<footer>
  <div class="footer-container">

    <div class="left-col">
      <div class="img-faces">

        <a href="https://www.facebook.com/andre.mesquitasd" class="morph-footer-btn" target="_blank"><i class="fab fa-facebook-f"></i></a> 
        <a href="https://api.whatsapp.com/send?phone=5521981235902" class="morph-footer-btn" target="_blank"><i class="fab fa-whatsapp"></i></a> 
        <a href="https://www.instagram.com/mesquitaandre" class="morph-footer-btn" target="_blank"><i class="fab fa-instagram"></i></a> 
        <a href="https://www.linkedin.com/in/andr%C3%A9-mesquita-295974190/" class="morph-footer-btn" target="_blank" ><i class="fab fa-linkedin-in"></i></a> 
        <a href="https://github.com/andre166" class="morph-footer-btn" target="_blank"><i class="fab fa-github"></i></a> 
        
      </div>
    </div>
    
    <div class="right-col">
      <h4>André Mesquita © All Rights Reserved.</h4>
    </div>

  </div>
</footer>
