
<div class="bg">
    <div  id="imagem" >
        <div id="txt-intro"
            style="font-style: italic"
            [ngStyle.xs]="{'font-size.px': 15,'margin-top.rem': 18}"
            [ngStyle.sm]="{'font-size.px': 20}"
            [ngStyle.md]="{'font-size.px': 30}"
        >

            <h3>Olá, me chamo André Mesquita</h3>
        </div>
        
        <div id="txt-subtitulo"
            style="font-style: italic;"
            [ngStyle.xs]="{'font-size.px': 12}"
            [ngStyle.sm]="{'font-size.px': 15}"
            [ngStyle.md]="{'font-size.px': 18}"
            >
        <p id="subtitulo">Desenvolvedor Full Stack</p>
    </div>

        
     
    </div>

    <div class="bgt">

    </div>

</div>

<!-- <div class="carta">
    aaaaaaaaaaaaaaaaaaasasas
</div> -->




