.btn-descer-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-descer{
    margin-top: 12rem;
    font-size: 25pt;
    color: #fff;
    border-radius: 100%;
    padding: 6px 12px;
  
}


#txt-intro{
    /* max-width: 1000px;
    background-color: #131419; */
    font-family: 'Dancing Script', cursive;
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing:6px;
	text-transform: uppercase;
    text-align: center;
    margin-top: 20rem;
    color: #a58c5e;
    text-shadow: 
        1px 0.5px 1px #000000,
        1px 0.5px 4px #202020;
}

#txt-subtitulo{
   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #888888;
    text-shadow: 0.4px 0.5px 1px #000000;
}

#imagem{

    background: url('../../../../../assets/imagens/coffee.jpg');
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: Helvetica,Arial,sans-serif;
    margin-top: 0px;
    padding: 0px;
    position: absolute;

} 

.bb{
    background-image: url('../../../../../assets/imagens/coffee.jpg');
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

  @media screen and (max-width:960px) {
    #btn-descer{
        margin-top: 16rem;
        font-size: 20pt;
        border-radius: 100%;
        padding: 3px 8px;
      
    }

  }
