.bgt{
   
    background-color: black;
    height: 900px;
}
.bg{
    background-color: black;
    height: 100%;
}

.btn-descer-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-descer{
    margin-top: 12rem;
    font-size: 25pt;
    cursor: pointer;
    color: #eeeded;
    border: 2px solid #eeeded;
    border-radius: 100%;
    padding: 6px 12px;
  
}

#btn-descer:hover{
    color: #9c814e;
    background-color: #ebebebef;
    border: 2px solid #9c814e;

}

#txt-intro{
    font-family: 'Dancing Script', cursive;
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing:6px;
	text-transform: uppercase;
    text-align: center;
    margin-top: 20rem;
    color: #a58c5e;
    text-shadow: 1px 0.5px 0.3px #646464;
}

#txt-subtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #888888;
    text-shadow: 0.4px 0.5px 1px #000000;
}

#imagem{
    background: url('../../../../../assets/imagens/coffee.jpg');
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: Helvetica,Arial,sans-serif;
    margin-top: 0px;
    padding: 0px;
    position: absolute;

} 

.page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }



