<div fxFlexFill >


<div fxLayout="row" class="bg" >
    <div  id="imagem" fxFlexFill 
        [ngStyle.xs]="{'background-position.px': -340}"
        [ngStyle.sm]="{'background-position.px': -380}"
    >

        <div id="txt-intro"
            style="font-style: italic"
            [ngStyle.xs]="{'font-size.px': 18,'margin-top.em': 10}"
            [ngStyle.sm]="{'font-size.px': 20}"
            [ngStyle.md]="{'font-size.px': 30}"
        >

            <h3 >Prazer, me chamo André Mesquita</h3>
        </div>
        
        <div id="txt-subtitulo"
            style="font-style: italic;"
            [ngStyle.xs]="{'font-size.px': 12}"
            [ngStyle.sm]="{'font-size.px': 15}"
            [ngStyle.md]="{'font-size.px': 18}"
            >
        <p id="subtitulo">Desenvolvedor Web Full Stack</p>
        </div>
        
        <div fxLayout="row" class="btn-descer-div">
        
            <a id="btn-descer" >
                <i class="fas fa-chevron-down"></i>
            </a>
            
        </div>
        
    </div>


    
</div>
</div>

<div>
    <app-section1></app-section1>
    <app-section2></app-section2>
</div>




