.btn-descer-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-descer{
    margin-top: 10em;
    font-size: 26pt;
    color: #a58c5e;
    border-radius: 100%;
    padding: 6px 12px;
    text-shadow: 
        1px 0.5px 1px #000000,
        1px 0.5px 4px #202020;

}

.img-container{
    height: 91vh !important;
    overflow: hidden;

}

#txt-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing:6px;
	text-transform: uppercase;
    text-align: center;
    margin-top: 7em;
    color: #a58c5e;

}

#txt-subtitulo{
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #cacaca;
}

  @media screen and (max-width:960px) {
    #btn-descer{
        margin-top: 16rem;
        font-size: 20pt;
        border-radius: 100%;
        padding: 3px 8px;
      
    }

  }
