
<div class="bg" fxLayout="row">
    <div  id="imagem"  fxFlexFill 
        [ngStyle.xs]="{'background-position.px': -350}"
        [ngStyle.sm]="{'background-position.px': -180}"
        
        >



        <div id="txt-intro"
            style="font-style: italic"
            [ngStyle.xs]="{'font-size.px': 15,'margin-top.rem': 17}"
            [ngStyle.sm]="{'font-size.px': 20}"
            [ngStyle.md]="{'font-size.px': 30}"
        >

            <h3>Olá, me chamo André Mesquita</h3>
        </div>
        
        <div id="txt-subtitulo"
            style="font-style: italic;"
            [ngStyle.xs]="{'font-size.px': 12}"
            [ngStyle.sm]="{'font-size.px': 15}"
            [ngStyle.md]="{'font-size.px': 18}"
            >
        <p id="subtitulo">Desenvolvedor Full Stack</p>

    </div>

        
     
    </div>

    
</div>

<div class="bgt">

</div>
<div fxLayout="row">
    
</div>

<!-- <div class="carta">
    aaaaaaaaaaaaaaaaaaasasas
</div> -->




