.logo{
  color: #a58c5e;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 8px;
  background: #f1f1f1;
  box-shadow:  1px 1px 3px #bdbdbd, 
  -4px -4px 2px #ffffff;
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  font-weight: 600;
}

.navbar a{
  /* margin-right: 18px; */
  color: #a58c5e;
  text-decoration: none;
  cursor: pointer;
  padding: 32px 25px 36px 25px;
  /* border-radius: 50px; */
  background: #f1f1f1;
  /* box-shadow:  1px 1px 3px #bdbdbd, 
             -0px -4px 2px #ffffff; */
  text-align: center;
  display: inline-block;
  font-size: 12pt;
  font-weight: 600;
}

.navbar a:first-child{
  box-shadow:  1px 1px 3px #bdbdbd, 
             -2px -2px 2px #ffffff;
  margin-right: 20px;
  padding: 20px 25px;
  border-radius: 10px;

}

.navbar a:hover, .logo:hover{
  /* border-radius: 50px; */
  background: #f1f1f1;
  box-shadow: inset 4px 4px 4px #bdbdbd, 
  inset -4px -4px 5px #ffffff;

}

.navbar{
  margin-right: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  height: 100px;
  background-color: #f1f1f1;
 
}

material-icons{
  color: #fc5c65;
}

mat-sidenav-container{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

mat-sidenav{
  overflow: hidden;
  height: 100%;

}

.right-col{
  text-align: center;
  color: #5e6879f1;
}
.right-col h4{
  color: #c9cccf;
}


footer{
  background: #f1f1f1;
  padding-top: 100px;
  padding-bottom: 150px;
}

footer a{

  /* margin-right: 10px; */
  color: #a58c5e;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 30px;
  /* border-radius: 0px; */
  background: #f1f1f1;
  box-shadow:  2px 2px 2px #bdbdbd, 
             1px -2px 2px #ffffff;
  text-align: center;
  display: inline-block;
  font-size: 24pt;
  font-weight: 600;

}

footer a:first-child{
  box-shadow:  2px 2px 2px #bdbdbd, 
              -2px -2px 2px #ffffff;
}

footer a:hover{
  /* border-radius: 10px; */
  background: #f1f1f1;
  box-shadow: inset 4px 4px 4px #bdbdbd, 
              inset -3px 0px 4px #bdbdbd, 
              inset -3px -3px 3px #ffffff;

}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.right-col h1{
  font-size: 26px;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width:960px) {
  footer a{

    padding: 20px 20px;
    background: #f1f1f1;
    font-size: 18pt;
    font-weight: 600;
    margin-bottom: 30px;
  
  }
  footer{
   
    padding-top: 20px;
    padding-bottom: 100px;
  }


  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}


/* =========================== */

