mat-toolbar{
    background-color: #131419;
    height: 90px;
   
  }

  .logo{
    color: #a58c5e;
    text-decoration: none;
    cursor: pointer;
    
    padding: 3px 15px;
    border-radius: 5px;
    font-size: 11pt;
    font-weight: 600;
    
    background: #131419;
    box-shadow:  
    -3px -3px 3px rgba(194, 193, 193, 0.164),
    4px 4px 3px rgb(0, 0, 0);

    text-align: center;
    display: inline-block;
    
   
  }

  .logo:hover{
    color: rgb(194, 194, 194);
    /* border-radius: 50px; */
    /* background: #f1f1f1; */
    /* box-shadow: inset 4px 4px 4px #bdbdbd, 
    inset -4px -4px 5px #ffffff; */
    background: #131419;
    box-shadow:  
    inset -3px -3px 3px rgba(194, 193, 193, 0.164),
    inset 4px 4px 3px rgb(0, 0, 0);

  
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .btn-hamburguer-morph{
    color: #a58c5e;
    border-radius: 20px;
    margin-right: 20px;
    background: #131419;

    box-shadow:  
    -3px -3px 3px rgba(194, 193, 193, 0.164),
    4px 4px 3px rgb(0, 0, 0);
    }