<app-header></app-header>


<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" >
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>

    <mat-list>
      <mat-list-item> 
        <a class="morph-menu-btn" routerLink="/home" (click)="sidenav.close()">Home</a>
      </mat-list-item>
  
      <mat-list-item> 
        <a class="morph-menu-btn" (click)="CurriculumAlert()" (click)="sidenav.close()"> <i class="fas fa-file-download"></i> CV</a>
      </mat-list-item>
  
      <mat-list-item> 
        <a class="morph-menu-btn"  routerLink="/certificados" (click)="sidenav.close()">Certificados</a>
      </mat-list-item>
  
      <mat-list-item>
        <a class="morph-menu-btn"   routerLink="/contato" (click)="sidenav.close()">Contato </a>
      </mat-list-item>
  
      <mat-list-item>
        <a class="morph-menu-btn"  routerLink="/projetos" (click)="sidenav.close()">Projetos </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
  
    <mat-toolbar fxHide.gt-sm="true" [ngStyle.xs]="{'height.px': 60}" ngClass.xs="fixo">

      <a class="logo"  routerLink="/home">Home</a>
      
      <span class="example-spacer"></span>
  
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-button  class="btn-hamburguer-morph" (click)="sidenav.open()">
          <span class="material-icons">menu</span>
        </button>
      </div>
  
    </mat-toolbar>

    <div id="img-bg-appComponent" [ngStyle.xs]="{'background-position-x.px': -150}">
      <router-outlet></router-outlet>
    </div>
  
  </mat-sidenav-content>
  
</mat-sidenav-container>

<app-footer></app-footer>     




          


    


            
    
    
