
    <mat-toolbar>
      <button mat-button  routerLink="/home" (click)="sidenav.close()"> <span class="material-icons"> home</span>  </button>
      
      <span class="example-spacer"></span>

      <div fxShow="true" fxHide.lt-md="true">
        <div class="example-button-row">

          <button mat-button (click)="CurriculumAlert()">
            <span class="material-icons"> get_app</span> 
            Curriculum 
          </button>

          <button mat-button routerLink="/certificados">
            <span class="material-icons"> class</span> 
            Certificados 
          </button>

            <button mat-button routerLink="/contato">
                <span class="material-icons"> contact_mail</span> 
                Contato 
            </button>

            <button mat-button routerLink="/projetos">
              <span class="material-icons"> folder_open</span> 
              Projetos 
            </button>

            <button mat-button routerLink="/home">
                <span class="material-icons"> home</span> 
                Home 
            </button>

        </div>
      </div>
      
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-button (click)="sidenav.toggle()">
          <span class="material-icons">menu</span>
        </button>
      </div>
      
    </mat-toolbar>
    <!-- Btn de menu na tela SM -->
    
<!-- =============== SIDE-BAR =============== -->

    <mat-sidenav-container >
      <mat-sidenav #sidenav >
        <div fxLayout="column">
          <a mat-button color="primary" routerLink="/curriculum" mat-button (click)="CurriculumAlert()">curriculum</a>
          <a mat-button color="primary" routerLink="/certificados" mat-button (click)="sidenav.toggle()">certificados</a>
          <a mat-button color="primary" routerLink="/contato" mat-button (click)="sidenav.toggle()">contato</a>
          <a mat-button color="primary" routerLink="/projetos" mat-button (click)="sidenav.toggle()">projetos</a>
          <a mat-button color="primary" routerLink="/home" mat-button (click)="sidenav.toggle()">home</a>
       
        </div>
      </mat-sidenav>

      <mat-sidenav-content fxFlexFill>

        <router-outlet></router-outlet>
        
      </mat-sidenav-content>
      
    </mat-sidenav-container>
    
    
