
<div class="certificado-section" fxLayout="column" fxLayoutAlign="center center" 
  fxLayout.sm="column" fxLayout.xs="column" [ngStyle.xs]="{'margin-top.px': 60}" 
  > 
  
  <div id="title-certificado" fxLayoutAlign="center center" [ngStyle.xs]="{'font-size.pt': 16}">
    Certificados <i class="fas fa-certificate"></i>
  </div>

  <div class="certificado-container" fxLayoutAlign="center center"  [ngStyle.lt-md]="{'width': '100%'}">
      
    <mat-accordion fxFlexFill>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Java
          </mat-panel-title>
        </mat-expansion-panel-header>
            
        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column" fxLayout.xs="column">

          <mat-card class="example-card">
            <img mat-card-image src="../../../../../assets/imagens/certificados/java-spring.jpg" alt="Foto de certificado java">
          </mat-card>

          <mat-card class="example-card">  
            <img mat-card-image src="../../../../../assets/imagens/certificados/java8-01.jpg" alt="Foto de certificado java">
          </mat-card>

          <mat-card class="example-card"> 
            <img mat-card-image src="../../../../../assets/imagens/certificados/java8-02.jpg" alt="Foto de certificado java">
          </mat-card>
                
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column" fxLayout.xs="column">

          <mat-card class="example-card">
            <img mat-card-image src="../../../../../assets/imagens/certificados/java8-03.jpg" alt="Foto de certificado java">
          </mat-card>

        </div>
                
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Angular
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column" fxLayout.xs="column">

          <mat-card class="example-card"> 
            <img mat-card-image src="../../../../../assets/imagens/certificados/em-breve.png" alt="Foto de certificado Angular">
          </mat-card>
            
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

        <mat-expansion-panel-header>
          <mat-panel-title>
            ReactJS
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column" fxLayout.xs="column">
          <mat-card class="example-card">
            <img mat-card-image src="../../../../../assets/imagens/certificados/em-breve.png" alt="Foto de certificado de reactJS">
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Banco de dados
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column" fxLayout.xs="column">
          <mat-card class="example-card"> 
            <img mat-card-image src="../../../../../assets/imagens/certificados/em-breve.png" alt="Foto de certificado banco de dados">
          </mat-card>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"(closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Diversos
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column" fxLayout.xs="column">

          <mat-card class="example-card">
            <img mat-card-image src="../../../../../assets/imagens/certificados/performance.JPG" alt="Foto de certificado diverso">
          </mat-card>

          <mat-card class="example-card">
            <img mat-card-image src="../../../../../assets/imagens/certificados/vm.jpg" alt="Foto de certificado diverso">
          </mat-card>

          <mat-card class="example-card">
            <img mat-card-image src="../../../../../assets/imagens/certificados/php.jpg" alt="Foto de certificado diverso">
          </mat-card>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

