<section id="projeto-section"  fxLayoutAlign="center center" fxLayout="column" [ngStyle.xs]="{'padding.px': 1, 'margin-top.px': 60}">    
    
    <div fxLayout="row" fxLayoutAlign="space-between" class="projeto-container" fxLayout.sm="column" fxLayout.xs="column" [ngStyle.xs]="{'padding.px': 1}" [ngStyle.xs]="{'margin-top.px': 7}">

        <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm="true">
            <h2 [ngStyle.xs]="{'margin-bottom.px': 5}">React Cad</h2>
        </div>

        <div fxLayoutAlign="center center">
            <div fxLayout="row" class="img-container" fxLayoutAlign="center center" [ngStyle.xs]="{'padding-bottom.px': 0}">
                <img fxFlexFill src="../../../../../assets/imagens/projetos/reactCad.JPG" />
            </div>
        </div>

        <div fxLayout="column" fxFlex="60" class="sect2" [ngStyle.xs]="{'padding-top.px': 1}">
            <div class="descricao"  fxLayout="column" >

                <div fxLayout="column" fxLayoutAlign="center center"  fxHide.lt-md="true">
                    <h2>React Cad</h2>
                    <span class="border-custom"></span>
                </div>

                <div fxLayoutAlign="start center">
                    <p>
                        Crud simples, filtros de pesquisa, persintências no local Storage, requisição http com axios, Recharts, bootstrap4.
                    </p>
                </div>

                <div fxLayoutAlign="center end" class="btn-container" >
                    <a mat-raised-button color="primary" href="https://cadusureactjs.herokuapp.com/" target="_blank">Abrir <i class="fas fa-external-link-alt"></i></a>
                </div>

            </div>
        </div>

    </div>

    <!-- ================================ =-->

    <div fxLayout="row" fxLayoutAlign="space-between" class="projeto-container" fxLayout.sm="column" fxLayout.xs="column" [ngStyle.xs]="{'padding.px': 1}" [ngStyle.xs]="{'margin-top.px': 7}">

        <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm="true">
            <h2 [ngStyle.xs]="{'margin-bottom.px': 5}">Portifólio</h2>
        </div>

        <div fxLayoutAlign="center center">
            <div fxLayout="row" class="img-container" fxLayoutAlign="center center" [ngStyle.xs]="{'padding-bottom.px': 0}" >
                <img  fxFlexFill src="../../../../../assets/imagens/projetos/portifolio.JPG" />
            </div>
        </div>

        <div fxLayout="column" fxFlex="60" class="sect2" [ngStyle.xs]="{'padding-top.px': 1}">
            <div class="descricao"  fxLayout="column" >

                <div fxLayout="column" fxLayoutAlign="center center"  fxHide.xs="true">
                    <h2>Portifólio</h2>
                    <span class="border-custom"></span>
                </div>

                <div >
                    <p>SPA feita em Angular 9 com  Angluar Material, flex-layout e alguns elementos em neumorphism.</p>
                    <p>Back-end em NodeJs com Express e NodeMailer.</p>
                </div>

                <div fxLayoutAlign="center end" class="btn-container" >
                    <a mat-raised-button color="primary" href="#" target="_blank">Abrir <i class="fas fa-external-link-alt"></i></a>
                </div>

            </div>
        </div>

    </div>

    <!-- ================================ -->

    <div fxLayout="row" fxLayoutAlign="space-between" class="projeto-container" fxLayout.sm="column" fxLayout.xs="column" [ngStyle.xs]="{'padding.px': 1}" [ngStyle.xs]="{'margin-top.px': 7}">

        <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm="true">
            <h2 [ngStyle.xs]="{'margin-bottom.px': 5}">Em Breve</h2>
        </div>

        <div fxLayoutAlign="center center">
            <div fxLayout="row" class="img-container" fxLayoutAlign="center center" [ngStyle.xs]="{'padding-bottom.px': 0}">
                <img  src="../../../../../assets/imagens/certificados/em-breve.png"/>
            </div>
        </div>

        <div fxLayout="column" fxFlex="60" class="sect2" [ngStyle.xs]="{'padding-top.px': 1}">
            <div class="descricao"  fxLayout="column" >

                <div fxLayout="column" fxLayoutAlign="center center"  fxHide.xs="true">
                    <h2>Em Breve</h2>
                    <span class="border-custom"></span>
                </div>

                <div fxLayoutAlign="start center">
                    <p>
                        Em Breve
                    </p>
                </div>

                <div fxLayoutAlign="center end" class="btn-container" >
                    <a mat-raised-button color="primary" href="#" target="_blank">Abrir <i class="fas fa-external-link-alt"></i></a>
                </div>

            </div>
        </div>

    </div>

</section>

