<section id="projeto-section"  fxLayoutAlign="center center" fxLayout="column">    
    <div fxLayout="row" fxLayoutAlign="space-between" class="projeto-container" fxLayout.sm="column" fxLayout.xs="column">

        <div fxLayoutAlign="center center">
            <div fxLayout="row" class="img-container" fxLayoutAlign="center center">
                <img fxFlexFill src="../../../../../assets/imagens/projetos/reaCad.PNG" />
            </div>
        </div>

        <div fxLayout="column" fxFlex="60" class="sect2">
            <div class="descricao"  fxLayout="column">

                <div fxLayout="column" fxLayoutAlign="center center">
                    <h2>React Cad</h2>
                    <span class="border-custom"></span>
                </div>

                <div fxLayoutAlign="start center">
                    <p>Mussum Ipsum, cacilds vidis litro abertis. Si u mundo tá muito paradis? Toma um mé 
                        que o mundo vai girarzis! Nec orci ornare consequat. Praesent lacinia ultrices consectetur. 
                        Sed non ipsum felis. Quem num gosta di mim que vai caçá sua turmis! Todo mundo vê os porris
                            que eu tomo, mas ninguém vê os tombis que eu levo!
                    </p>
                </div>

                <div fxLayoutAlign="center end" class="btn-container" >
                    <button mat-raised-button color="primary">Abrir <i class="fas fa-external-link-alt"></i></button>
                </div>

            </div>
        </div>

    </div>

    <!-- ================================ -->

    <div fxLayout="row" fxLayoutAlign="space-between" class="projeto-container" fxLayout.sm="column" fxLayout.xs="column">

        <div fxLayoutAlign="center center">
            <div fxLayout="row" class="img-container" fxLayoutAlign="center center">
                <img fxFlexFill src="../../../../../assets/imagens/projetos/portifolio.JPG" />
            </div>
        </div>

        <div fxLayout="column" fxFlex="60" class="sect2">
            <div class="descricao"  fxLayout="column">

                <div fxLayout="column" fxLayoutAlign="center center">
                    <h2>Portifólio</h2>
                    <span class="border-custom"></span>
                </div>

                <div fxLayoutAlign="start center">
                    <p>Mussum Ipsum, cacilds vidis litro abertis. Si u mundo tá muito paradis? Toma um mé 
                        que o mundo vai girarzis! Nec orci ornare consequat. Praesent lacinia ultrices consectetur. 
                        Sed non ipsum felis. Quem num gosta di mim que vai caçá sua turmis! Todo mundo vê os porris
                            que eu tomo, mas ninguém vê os tombis que eu levo!
                    </p>
                </div>

                <div fxLayoutAlign="center end" class="btn-container" >
                    <button mat-raised-button color="primary">Abrir <i class="fas fa-external-link-alt"></i></button>
                </div>

            </div>
        </div>

    </div>

    <!-- ================================ -->

    <div fxLayout="row" fxLayoutAlign="space-between" class="projeto-container" fxLayout.sm="column" fxLayout.xs="column">

        <div fxLayoutAlign="center center">
            <div fxLayout="row" class="img-container" fxLayoutAlign="center center">
                <img fxFlexFill src="../../../../../assets/imagens/certificados/em-breve.png" />
            </div>
        </div>

        <div fxLayout="column" fxFlex="60" class="sect2">
            <div class="descricao"  fxLayout="column">

                <div fxLayout="column" fxLayoutAlign="center center">
                    <h2>Em Breve</h2>
                    <span class="border-custom"></span>
                </div>

                <div fxLayoutAlign="start center">
                    <p>Mussum Ipsum, cacilds vidis litro abertis. Si u mundo tá muito paradis? Toma um mé 
                        que o mundo vai girarzis! Nec orci ornare consequat. Praesent lacinia ultrices consectetur. 
                        Sed non ipsum felis. Quem num gosta di mim que vai caçá sua turmis! Todo mundo vê os porris
                            que eu tomo, mas ninguém vê os tombis que eu levo!
                    </p>
                </div>

                <div fxLayoutAlign="center end" class="btn-container" >
                    <button mat-raised-button color="primary">Abrir <i class="fas fa-external-link-alt"></i></button>
                </div>

            </div>
        </div>

    </div>
</section>

