<div fxLayoutAlign="center center" [ngStyle.xs]="{'margin-top.px': 60}">

  <div class="contato-container" fxLayout="column" fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column" > 

    <div fxLayout="row" fxLayoutAlign="center center">
      <div  fxLayoutAlign="center center" class="btn-h2">
        <h2>Bem aqui <i class="fas fa-map-marked-alt"></i> </h2>
      </div>
    </div>
      
    <div class="mapa-container" fxLayout="row" >
      <span matTooltip="Ver localização no google maps" matTooltipPosition="below" fxLayout="row" class="w-100"> 
        <a  class="w-100" target="_blank" rel="noopener" href="https://www.google.com/maps/place/Maria+Paula,+Niter%C3%B3i+-+RJ,+24325-240/@-22.879255,-43.034723,16z/data=!4m5!3m4!1s0x998fba7bd6d561:0x4dbe63eaf2e6c5b7!8m2!3d-22.8791374!4d-43.0348213?hl=pt-BR">
          <img id="img-mapa" src="../../../../../assets/imagens/gps-minha-casa.jpg">
        </a>
      </span>
    </div>

    <div class="formulario-container" fxLayout="column" >

      <div fxLayout="row" fxLayoutAlign="center center"> 
        <h2>Mande-me um email <i class="far fa-envelope"></i></h2>
      </div>

      <div fxLayoutAlign="center center">
        <div class="border-custom" ></div>
      </div>

      <div  *ngIf="msg" class="msgEmail" fxLayoutAlign="center center">
        <div [ngStyle.xs]="{'font-size.pt': 10}">Email enviado com sucesso, obrigado!</div>
       </div>

      <form [formGroup]="form" novalidate *ngIf="!msg" >
       
        <div fxLayoutAlign="space-around start"  fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">

          <div>
              <mat-form-field appearance="outline" >
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="nome" id="nome" placeholder="Nome" required>  
              </mat-form-field>

                  <div *ngIf="nome.touched && nome.errors" class="div-error">
                    <p *ngIf="nome.errors.required">
                      Digite o Nome.
                    </p>
                  </div>
          </div>
          <!-- ==================================== -->
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Email" required>
            </mat-form-field>
            <div *ngIf="email.touched && email.invalid" class="div-error">
              <p>
                Digite o Email.
              </p>
            </div>
           
          
          </div>

          <!-- ==================================== -->
          <div>
            <mat-form-field>
              <mat-label>Assunto</mat-label>
              <mat-select disableRipple formControlName="assunto" required>
                <mat-option value="duvidas">Duvidas</mat-option>
                <mat-option value="feedback">FeddBack</mat-option>
                <mat-option value="outros">Outros</mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngIf="assunto.touched && assunto.errors" class="div-error-assunto">
              <p *ngIf="assunto.errors.required">
                Esolha o assunto
              </p>
            </div>
          </div>
  
        </div>

        <div fxLayoutAlign="center center" fxLayout="column">
          <mat-form-field class="w-50">
            <mat-label>Digite a menssagem</mat-label>
            <textarea class="txtArea" id="texto"  matInput formControlName="texto" placeholder="Ex. Como estou me sentindo..." required ></textarea>
          </mat-form-field>

        </div>

        <div fxLayoutAlign="center center" >
          <button  type="submit" mat-raised-button color="primary" (click)="eviarEmail()" >Enviar</button>
        </div>
    
      </form>
    </div>
  </div> 
</div>

  