<div class="section1"  [ngStyle.gt-sm]="{'height.vh': 100} ">

      <div class="bounds" fxFlexFill fxLayoutAlign="center center">
    
        <div class="content" 
             fxLayout="row" 
             fxLayout.sm="column" 
             fxLayout.xs="column" 
             fxFlexFill fxLayoutAlign="center center"
             
        >
             
            <div  fxFlex="30" class="sec1" fxLayoutAlign="center center">

                    <div class="imge-container">
                        <img fxFlexFill class="imge" src="../../../../../assets/imagens/eu.jpg"
                        [ngStyle.xs]="{'width.rem': 14, 'heigth.rem': 8} "
                        >

                </div>

          
        </div>



            <div fxFlex="70"  class="sec2"  >
              
                    <div fxLayout="row" >
                        <div class="txt-sobremim" [ngStyle.sm]="{'text-align': 'center'} ">
                            <div class="h1-sobre-mim">Sobre mim</div>
                            <div class="border" ngClass.sm="w-100"></div>

                            <p>Nome: André de Souza Mesquita Bezerra Lima</p>
                            <p>Email: andremp1927@hotmail.com</p>
                            <p>Idade: 26</p>
                            <p>Escolaridade: Cursando 5º Período de análise e desenvolvimento de sistemas</p>
                            <p class="h2-sobre-mim"> Auto Avaliação</p>
                            <div class="border w-100"></div>
                            
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dignissim nunc, sed sollicitudin est. Vestibulum porta rutrum tortor, ut pulvinar quam venenatis quis. Nam fermentum, augue et bibendum vulputate, purus elit commodo nunc, id pulvinar velit mauris eu lorem. Etiam convallis turpis eu ante consequat cursus. In ante nisl, tincidunt eget interdum a, efficitur ut lorem. Aliquam viverra ac lorem et pharetra. Phasellus in enim ex. Quisque ut fringilla ipsum, in lobortis massa. Cras vitae metus vitae tellus luctus convallis id id ipsum. Sed auctor sapien eu convallis tempus.</p>
                           
                            <div fxLayoutAlign="center center">
                                <div  class="btn-morph">Fale comigo!</div>

                            </div>
                        </div>

    
               

                    
                </div>
            </div>
            
        </div>
        
      </div>
  </div>
 




