<section class="section-sobreMim"  fxLayoutAlign="center center" fxFlexFill>
    
        <div class="content" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
             
            <div  fxFlex="30" class="sec1" fxLayoutAlign="center center">
                <div class="imge-container">
                    <img fxFlexFill class="imge" src="../../../../../assets/imagens/eu.jpg" [ngStyle.xs]="{'width.em': 15, 'height.em': 15} ">
                </div>
            </div>
<!--  -->
            <div fxFlex="70"  class="sec2">

                <div fxLayout="row" >
                    <div class="txt-sobremim">
                        <div class="h1-sobre-mim">Sobre mim</div>
                        <div class="border"></div>

                        <p><span>Nome:</span> André de Souza Mesquita Bezerra Lima</p>
                        <p><span>Email:</span> andremp1927@hotmail.com</p>
                        <p><span>Idade: </span> 26</p>
                        <p><span>Escolaridade:</span> Cursando 5º Período de análise e desenvolvimento de sistemas</p>
                        <h4 class="h2-sobre-mim"> Resumo</h4>
                        <div class="border w-100"></div>
                        
                        <p>  
                            Contabilista profissional há 14 anos com experiência em pagamentos, processamento de salários, facturação, auditorias. Licenciado em Contabilidade no Instituto Politécnico de Faro com 
                            média de 17 valores. Bem sucedido no processamento da facturação na ordem dos 100% exercendo o cargo de forma dedicada e responsável, mantendo uma relação cordial com os colegas e com 
                            os clientes. Trabalha com muita motivação, ética e tenacidade, obtendo bons resultados em tempo útil. Experiência comprovada na área de facturação, pagamentos, tributações e contabilidade em geral.
                                Ao longo da carreira já trabalhou em diversas empresas adquirindo competências na área da informática, das línguas, das vendas, do cálculo, com especialização na realização de relatórios de contas.
                        </p>
                        
                        <div fxLayoutAlign="space-between" class="btn-morph-container" fxLayout="row" >

                            <div fxHide.xs="true"></div>

                            <a class="btn-morph">Fale comigo!</a>
                                                            
                            <span matTooltip="Download do Curriculum Vitae"> 
                                <a  class="btn-morph-cv"><i class="fas fa-file-download"></i> CV </a>  
                            </span> 

                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>


 




