<section class="section-sobreMim"  fxLayoutAlign="center center" fxFlexFill>
    
        <div class="content" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
             
            <div  fxFlex="30" class="sec1" fxLayoutAlign="center center">
                <div class="imge-container" fxLayoutAlign="center center">
                    <img fxFlexFill class="imge" src="../../../../../assets/imagens/eu.jpg" >
                </div>
            </div>

            <div fxFlex="70"  class="sec2">

                <div fxLayout="row" >
                    <div class="txt-sobremim">
                        <div class="h1-sobre-mim">Sobre mim</div>
                        <div class="border"></div>

                        <p><span>Nome:</span> André de Souza Mesquita Bezerra Lima</p>
                        <p><span>Email:</span> andremp1927@hotmail.com</p>
                        <p><span>Idade: </span> 26</p>
                        <p><span>Escolaridade:</span> Cursando 5º Período de análise e desenvolvimento de sistemas</p>
                        <h4 class="h2-sobre-mim"> Resumo</h4>
                        <div class="border w-100"></div>
                        
                        <p>  
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.tas.
                        </p>
                        
                        <div fxLayoutAlign="space-between" class="btn-morph-container" fxLayout="row" >

                            <div fxHide.xs="true"></div>

                            <a class="btn-morph" routerLink="/contato">Fale comigo!</a>
                                                            
                            <span matTooltip="Download do Curriculum Vitae"> 
                                <a  class="btn-morph-cv"><i class="fas fa-file-download"></i> CV </a>  
                            </span> 

                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>


 




